<form class="ui form" [formGroup]="messageForm" (ngSubmit)="submit()">
  <app-custom-input
    [inputField]="messageForm.controls.to"
    format="email"
    label="Recipient"
    inputType="input"
  ></app-custom-input>
  <app-custom-input
    [inputField]="messageForm.controls.from"
    format="email"
    label="Sender"
    inputType="input"
  ></app-custom-input>
  <app-custom-input
    [inputField]="messageForm.controls.subject"
    format="text"
    label="Subject"
    inputType="input"
  ></app-custom-input>
  <app-custom-input
    [inputField]="messageForm.controls.text"
    label="Message"
    inputType="textarea"
  ></app-custom-input>
  <button class="ui button primary">Send</button>
</form>
