<div class="ui dimmer visible active" (click)="closeModalHandler()">
  <div (click)="$event.stopPropagation()" class="ui modal visible active">
    <i class="close icon" (click)="closeModalHandler()"></i>
    <div class="header"><ng-content select="[title]"></ng-content></div>
    <div class="content">
      <ng-content></ng-content>
    </div>
    <div class="actions custom-close">
      <ng-content select="[closeOption]"></ng-content>
    </div>
    <div class="actions default-close">
      <button class="ui button" (click)="closeModalHandler()">Done</button>
    </div>
  </div>
</div>
